
input[type=text], select {
    width: 180px;
    padding-right:10px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: #B22222;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div.container {
    border-radius: 5px;
    background-color: #CCCCCC;
    background-position:center;
    padding: 20px;
    width:auto;
    left:50%;
    display: block;

}
body, html {
    height: 100%;
}


.form_class{
           align-self: center;
            margin-left: 100;
            margin-right: auto;

	   }

.bg {
    background-image: url("bg1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     }

div.header{
    background-color: #B22222;
    overflow: auto;
    width: auto;
    border-radius: 5px;

}

.header img {
  float: left;
  width: 100px;
  height: 100px;
  float: left;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
  float: left;
  color: #CCCCCC;
}

.form-group input[type="checkbox"] {
  display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
  width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
  display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
  display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
  display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
  display: none;
}

.btn-bs-file{
    position:relative;
}
.btn-bs-file input[type="file"]{
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width:0;
    height:0;
    outline: none;
    cursor: inherit;
}

