<!DOCTYPE html>
<html>
<title>Information Technology Concentration</title>
<head> <link rel="stylesheet" href="infotech.component.css">
</head>
<body class="bg">
<div class="header">
  <img src="ull_logo.png" alt="logo" />
  <h1>Information Technology Concentration</h1>
</div>
<div class="container">

  <form action="www.google.com" class="form_class">
    <label for="fname"><b>Name</b></label><br>
    <input type="text" id="name" name="firstname" placeholder="Enter Name"><br>

    <label for="year"><b>Year</b></label><br>
    <input type="text" id="year" name="year" placeholder="Enter Year"><br>
    
    <label for="semester"><b>Semester</b></label><br>
    <input type="text" id="semester" name="semester" placeholder="Enter Semester"><br>

    <label for="courses"><b>Courses completed with C or better grades</b></label><br>
    <ul class="dropdown-menu">
                    <li><p><input type="checkbox" value="id2">EECE 140</p></li>
                    <li><p><input type="checkbox" value="id3">CMPS 150 </p></li>
                    <li><p><input type="checkbox" value="id4">CMPS 260</p></li>
                    <li><p><input type="checkbox" value="id5">CMPS 261</p></li>
                    <li><p><input type="checkbox" value="id6">CMPS 310</p></li>
                    <li><p><input type="checkbox" value="id7">CMPS 340</p></li>
                    <li><p><input type="checkbox" value="id8">CMPS 341</p></li>
                    <li><p><input type="checkbox" value="id9">CMPS 351</p></li>
                    <li><p><input type="checkbox" value="id10">CMPS 430</p></li>
                    
                </ul>
  
    <input type="submit" value="Enter">
  </form>
</div>
</body>
</html>
